
<!--<h1>新建宿舍小讲堂</h1>-->
<%#= form_for :lecture ,url: lectures_path do |f| %>
<!--  <p>-->
<!--    <%#= f.label :题目 %><br>-->
    <%#= f.text_field :title %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= f.label :开始时间 %><br>-->
    <%#= datetime_local_field(:lecture, :start_time) %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= f.label :结束时间 %><br>-->
    <%#= datetime_local_field(:lecture, :end_time) %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= f.label :类别 %><br>-->
    <%#= select :lecture,:category, ['aaa', 'bbb'] %>
<!--  </p>-->
<!--   <p>-->
<!--    <%#= f.label :内容 %><br>-->
    <%#= f.text_field :content %>
<!--  </p>-->

<!--   <p>-->
<!--    <%#= f.label :所在房间 %><br>-->
    <%#= f.text_field :suite %>
<!--  </p>-->

<!--  <div id="editor">-->
<!--    <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>-->
<!--  </div>-->
<!--  <script type="text/javascript" src="/assets/wangEditor.min.js"></script>-->
<!--  <script type="text/javascript">-->
<!--      var E = window.wangEditor-->
<!--      var editor = new E('#editor')-->
<!--      // 或者 var editor = new E( document.getElementById('editor') )-->
<!--      editor.create()-->
<!--  </script>-->

<!--  <p>-->
    <%#= f.submit "保存  " %>
<!--  </p>-->
<%# end%>

<div class="container">
  <h1>发布宿舍小讲堂</h1>
  <div class="row">
    <div class="form-group col-xs-8">
      <label for="name">标题</label>
      <input type="text" class="form-control" id="title" placeholder="请输入标题">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-8">
      <label>开始时间</label>
      <input type="text" class="form-control time" id="start_time" readonly="readonly" placeholder="请选择开始日期">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-8">
      <label>结束时间</label>
      <input type="text" class="form-control time" id="end_time" readonly="readonly" placeholder="请选择结束日期">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-8">
      <label>类别</label>
      <select class="form-control" id="category">
        <option value="数学">数学</option>
        <option value="英语">英语</option>
        <option value="计算机">计算机</option>
        <option value="文学">文学</option>
        <option value="哲学">哲学</option>
        <option value="生活">生活</option>
        <option value="生物">生物</option>
        <option value="音乐">音乐</option>
        <option value="历史">历史</option>
        <option value="其他">其他</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>内容</label>
      <div id="content"></div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <button type="button" class="btn btn-primary col-xs-2 col-xs-offset-5" id="confirm">确定</button>
  </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        var E = window.wangEditor
        var editor = new E('#content')
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'fontName',  // 字体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
            'emoticon',  // 表情
            'table',  // 表格
            'code',  // 插入代码
            'undo',  // 撤销
            'redo'  // 重复
        ]
        editor.create()

        $('.time').datetimepicker({
            format: 'yyyy-mm-dd hh:ii'
        });

        $("#confirm").click(function () {
            title = $("#title").val();
            start_time = $("#start_time").val();
            end_time = $("#end_time").val();
            category = $("#category").val();
            content = editor.txt.html();
            content_txt = editor.txt.text();
            // console.log(title);
            // console.log(start_time);
            // console.log(end_time);
            // console.log(category);
            // console.log(content);
            // console.log(content_txt.trim().length);
            if(title=="") {
                alert('标题不能为空！');
            } else if(start_time=="") {
                alert("请选择开始时间！")
            } else if(end_time=="") {
                alert("请选择结束时间！");
            } else if(category=="") {
                alert("请选择类别！");
            } else {
                $.post("/lectures", {
                    title: title,
                    start_time: start_time,
                    end_time: end_time,
                    category: category,
                    content: content
                }, function (data, status) {
                    if (status == "success") {
                        result = eval(data);
                        if (result.message == 'ok') {
                            window.location.href = '/lectures/' + result.lecture_id;
                        } else {
                            alert(result.message);
                        }
                    } else {
                        alert('发生未知错误！')
                    }
                });
            }
        });
    });
</script>
