<%= render "welcome/admin_nav" %>
<div class="container">
  <h1>新增学生</h1>
  <form action="/students", method="post">
    <div class="row">
      <% if not flash.now[:alert].nil? %>
        <p><span class="label label-danger"><%= flash.now[:alert] %></span></p>
      <% end %>
      <% if not @student.nil? and @student.errors.any? %>
        <% @student.errors.full_messages.each do |msg| %>
          <p><span class="label label-danger"><%= msg %></span></p>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="form-group col-xs-8">
        <label for="name">学号</label>
        <input type="text" class="form-control" name="student[number]" placeholder="请输入学号" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-8">
        <label for="name">密码</label>
        <input type="password" class="form-control" name="student[password]" placeholder="请输入密码" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-8">
        <label for="name">姓名</label>
        <input type="text" class="form-control" name="student[name]" placeholder="请输入姓名" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-1">
        <label>性别</label>
        <select class="form-control" name="student[gender]">
          <option value="male">男</option>
          <option value="female">女</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-8">
        <label>邮箱</label>
        <input type="text" class="form-control" name="student[email]" placeholder="请输入邮箱" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-8">
        <label for="name">班级</label>
        <input type="text" class="form-control" name="student[team_name]" placeholder="请输入班级" required>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <input type="submit" class="btn btn-primary" value="提交">
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#new_student").addClass("active");
    });
</script>
<%#= form_for :student, url: students_path do |f| %>
 <%# if not flash.now[:alert].nil? %>
<!--    <div id="error_explanation">-->
<!--      <h2>-->
<!--        <%#= pluralize(flash.now[:alert].count, "error") %> prohibited-->
<!--        this student from being saved:-->
<!--      </h2>-->
<!--      <ul>-->
        <%# flash.now[:alert].full_messages.each do |msg| %>
<!--          <li><%#= msg %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
<!--    <p><span class="label label-danger"><%#= flash.now[:alert] %></span></p>-->
  <%# end %>


<!--  <p>-->
<!--    <%#= f.label :学号 %><br>-->
    <%#= f.text_field :number %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= f.label :密码 %><br>-->
    <%#= f.text_field :password %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= f.label :学生姓名 %><br>-->
    <%#= f.text_field :name %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= f.label :性别 %><br>-->
    <%#= f.text_field :gender %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= f.label :学生所在班级 %><br>-->
    <%#= f.text_field :team_name %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= f.label :房间号 %><br>-->
    <%#= f.text_field :room_name %>
<!--  </p>-->
<!--   <p>-->
<!--    <%#= f.label :email（用于密码重置） %><br>-->
    <%#= f.text_field :email %>
<!--  </p>-->
<!--  <p>-->
    <%#= f.submit %>
<!--  </p>-->
<%# end %>


