<%= render "welcome/admin_nav" %>

<div class="container">
  <div class="jumbotron">
    <h1>欢迎使用宿舍管理系统管理端</h1>
    <p>管理端可以对学生和班级进行管理。</p>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#admin_home").addClass("active");
    });
</script>