<%= render "welcome/nav" %>

<div class="container">
  <div class="jumbotron">
    <h1>欢迎使用宿舍管理系统</h1>
    <p>本宿舍关系系统包含抢宿舍、查看宿舍小讲堂和发布宿舍小讲堂三个功能。</p>
    <p>请还未选择宿舍的同学先点击上方的“抢宿舍”按钮选择宿舍，选择宿舍后才能发布宿舍小讲堂。</p>
    <p>点击右上角自己的名字可以查看自己的信息。</p>
    <p>点击右上角的注销按钮推出系统。</p>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#home").addClass("active");
    });
</script>